{% extends 'base.html.twig' %}

{% block title %}Geolocalizaci&oacute;n{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>Geolocalizaci&oacute;n IPs</h3>
        {% if ipNoEncontrada == true %}
            <ul>
                <li>No pudo encontrarse la geolocalizaci&oacute;n de la IP consultada.</li>
            </ul>
        {% endif %}
        {{ form_start(form) }}
            {{ form_errors(form.ultimaIpConsultada) }}<br>
            {{ form_label(form.ultimaIpConsultada) }}
            {{ form_widget(form.ultimaIpConsultada) }}
            <input type="submit" value="Consultar geolocalizaci&oacute;n">
        {{ form_end(form) }}
    </div>
    {% if geolocalizacion is not null %}
        <div class="example-wrapper">
            <label for="fip" style="font-weight: bold">IP: </label>{{ geolocalizacion.ultimaIpConsultada }}<br>
            <label for="fip" style="font-weight: bold">Fecha actual: </label>{{ fechaActual|date("d/m/Y H:i:s")  }}<br>
            <label for="fip" style="font-weight: bold">Pa&iacute;s: </label>{{ geolocalizacion.pais }}<br>
            <label for="fip" style="font-weight: bold">ISO Code:  </label>{{ geolocalizacion.pais.codigoISO }}<br>
            <label for="fip" style="font-weight: bold">Idiomas: </label>{{ geolocalizacion.pais.idiomas|join(' - ') }}<br>
            <label for="fip" style="font-weight: bold">Monedas: </label>{{ geolocalizacion.pais.monedas|join(' - ') }}<br>
            <label for="fip" style="font-weight: bold">Horas: </label>{{ geolocalizacion.pais.mostrarHorasSegunFechaActual(fechaActual) }}<br>
            <label for="fip" style="font-weight: bold">Distancia estimada: </label>{{ geolocalizacion.distanciaDesdeBsAs|number_format(0, ',', '.') }} kms   {{ ubicacionBuenosAires }} a {{ geolocalizacion.pais.ubicacion }}
        </div>
    {% endif %}
{% endblock %}